body {
    background-color: #C4C1B8;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    text-decoration-color: #130F0D;
}

/* Navbar container */
.navbar a {
  float: left;
  font-size: 16px;
  color: #130F0D;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  cursor: pointer;
  font-size: 16px;  
  border: none;
  outline: none;
  color: #130F0D;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn, .dropbtn:focus {
  background-color: #ACA949;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}

/* Box container styling */
.box-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 200px;
    border: 2px solid black;
    background-color: #551F22;
}

.box{
    border: 2px solid black;
    background-color: #795D4C;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    text-decoration-color: #ffffff;
    margin: 10px;
    padding: 40px;
    }

    .article {
    border: 2px solid black;
    background-color: #A7988A;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    text-decoration-color: #ffffff;
    margin: 10px;
    padding: 40px;
    }

/* Footer styling */
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: blanchedalmond;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    text-decoration-color: #ffffff;
}